<div class="col-8 m-auto mt-5">
    <h1>Acerca de Mi Página</h1>
    <p>Bienvenido a mi página sobre el tiempo. Aquí encontrarás información actualizada sobre las condiciones meteorológicas, pronósticos y noticias relacionadas con el clima.</p>
    <p>Mi objetivo es proporcionar datos precisos y útiles para que puedas planificar tu día a día con confianza. Ya sea que estés buscando el pronóstico del tiempo para tu ciudad o información sobre fenómenos meteorológicos extremos, estás en el lugar correcto.</p>
    <p>Gracias por visitar mi página y espero que encuentres la información que necesitas. ¡Que tengas un excelente día!</p>
</div>
